<%- include("./layout/header") %>

<% appliedJobs.forEach(job => { %>
    <div class="shadow-sm row g-4 p-3 mb-3">
        <div class="col-sm-12 col-md-8 d-flex align-items-center">
            <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-1.jpg" alt="" style="width: 80px; height: 80px;">
            <div class="text-start ps-4">
                <h5 class="mb-3"><%= job.title %></h5>
                <span class="text-truncate me-3"><i class="fa-solid fa-city text-primary me-2"></i><%= job.companyName %></span>
                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><%= job.location %></span>
                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><%= job.description %></span>
                <!-- <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i><%= job.salary %></span> -->
            </div>
        </div>
    </div>
    <strong>Job Title:</strong> <%= job.title %><br>
    <strong>Company:</strong> <%= job.companyName %><br>
    
        <% }) %>
       
    
<%- include("./layout/footer") %>