<%- include("./layout/header") %>

<main>
    <div class="container  p-4">
    <div class="row "> 
      
  
           
    <h1>Job Details</h1>
    <p><strong>Title:</strong> <%= job.title %></p>
    <p><strong>Description:</strong> <%= job.description %></p>
    <p><strong>Location:</strong> <%= job.location %></p>
    <p><strong>Salary:</strong> <%= job.salary %></p>  
        </div>

        
    </div>
    </div>
    
</main>

<%- include("./layout/footer") %>